//LAYOUT
.weekly-core() {

  @padding: 10px;
  .weekly-clearfix() {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;

  * {
    -mox-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:after {
    .weekly-clearfix();
  }

  .days {
    padding-left: 10%;
    text-align: center;

    &:after {
      .weekly-clearfix();
    }

    .day {
      float: left;
      padding: @padding;
    }
  }

  .times {
    float: left;
    width: 10%;
    text-align: right;

    .time {
      padding: @padding;
    }
  }

  .grid {
    float: left;
    width: 90%;

    &:after {
      .weekly-clearfix();
    }

    .day {
      float: left;
      position: relative;

      .time {
        padding: @padding;
      }

      .event {
        position: absolute;
        padding: 10px;
        left: 5px;
        right: 5px;

        .delete {
          position: absolute;
          top: 5px;
          right: 5px;
          text-decoration: none;
          display: none;
        }

        &:hover .delete {
          display: block;
        }

      }

      .event-pending {
        position: absolute;
        left: 5px;
        right: 5px;
      }
    }
  }

}

//STYLES
.weekly(
  @fgColor: #7F8C8D;
  @borderColor: #ECF0F1;
  @eventColor: #3498DB;
  @eventForegroundColor: #fff;
  @eventPendingColor: #34495e;
  @today: rgba(241, 196, 15,.4);
  @eventBorderRadius: 3px;
  @fontFamily: ~'"Helvetica Neue", Helvetica, Arial, sans-serif';
  ) {

  .weekly-core();

  @border: 1px solid @borderColor;

  color: @fgColor;

  .event-border() {
    border-radius: @eventBorderRadius;
  }

  font-family: @fontFamily;

  .days .day {
    border-left: @border;
  }

  .times .time {
    border-top: @border;
  }
  .grid {
    .day {

      .time {
        border-left: @border;
        border-top: @border;
      }

      .event {
        background-color: @eventColor;
        color: @eventForegroundColor;
        .event-border();

        .delete {
          color: @eventForegroundColor;
        }

        .event-title {
          font-weight: bold;
        }
      }
    }
    .event-pending {
      background-color: @eventPendingColor;
      .event-border();
    }
  }

  .today {
    background-color: @today;
  }

}
